html {
  font-family: sans-serif;
}

:root {
  --base: #ffc600;
  --spacing :50px;
  --blur: 10px;
}

img {
  padding: var(--spacing);
  background: var(--base);
  filter: blur(var(--blur));
}

.hl {
  color: var(--base);
}
